@model ProgerBlog.WEB.Models.EditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Редактировать данные профиля</h2>



@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        
        <p>
            @Html.LabelFor(m => m.Name, "Name")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Email, "Email")
            <br />
            @Html.EditorFor(m => m.Email)
        </p>

        <p>
            @Html.LabelFor(m => m.Role, "Role")
            <br />
            @Html.DropDownListFor(m => m.Role ,(SelectList)ViewBag.Roles)
        </p>
       

        <p><input type="submit" value="Відправити" /></p>
    </fieldset>
}
