@model ProgerBlog.WEB.Models.EditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Редагування даних профіля</h2>



@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Name")        
            @Html.TextAreaFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Email")          
            @Html.TextAreaFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Role, "Role")      
            @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.Roles, new { @class = "form-control" })
        </div>

            <input type="submit" class="btn btn-primary" value="Зберегти" />
            @Html.ActionLink("Відміна", "Index", null, new { @class = "btn btn-default" })
}
