@model List<ProgerBlog.WEB.Models.PostViewModel>


            @foreach (var p in Model.ToList())
            {

                {
                    <div class="post-preview">
                        <a href="@Url.Action("Post", "Home", new { id = p.Id })">
                            <h2 class="post-title">
                                @p.Title
                            </h2>
                            <h3 class="post-subtitle">@p.SubTitle</h3>
                        </a>
                        <p class="post-meta">
                            Створено @p.Author в @p.Date.ToLongDateString()
                        </p>
                    </div>
                    <hr>
                }
            }
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
            </div>
        