@model ProgerBlog.BLL.DTO.PostDTO

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
    $(function () { CKEDITOR.replace("ckeditor", { customConfig: "/Content/ckeditor/config.js" });})
</script>





<h2>Новий запис</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Title, "Заголовок")
       
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SubTitle, "Підзаголовок")
       
        @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Text, "Текст")
        
        @Html.TextAreaFor(model => model.Text, new { @class = "ckeditor" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category, "Категорія")
        
        @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.Categories, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Author, "Автор")

        @if(User.IsInRole("admin"))
        {
            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @Value = User.Identity.Name , @class = "form-control" } })
        }
        else
        {
            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @Value = User.Identity.Name, @readonly = "readonly", @class = "form-control" } })
        }
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, "Дата")
       
        @Html.TextBoxFor(model => model.Date, new { @id = "datepicker", @class = "datepicker form-control" })
    </div>
       
        <input type="submit" class="btn btn-primary" value="Добавити" />
        @Html.ActionLink("Відміна", "Index", null, new { @class = "btn btn-default" })
}
  
        

       
        <script type="text/javascript">
            $("#datepicker").datepicker();
        </script>
