@model ProgerBlog.BLL.DTO.PostDTO

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}



<h2>Новий запис</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title, "Заголовок")
    <br />
    @Html.EditorFor(model => model.Title)
    <br /><br />
    @Html.LabelFor(model => model.SubTitle, "Підзаголовок")
    <br />
    @Html.EditorFor(model => model.SubTitle)
    <br /><br />
    @Html.LabelFor(m => m.Category, "Категорія")
    <br />
     @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.Categories)
    <br /><br />
    @Html.LabelFor(model => model.Author, "Автор")
    <br />
    if(User.IsInRole("admin"))
    {
        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @Value = User.Identity.Name } })
    }
    else
    {
        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @Value = User.Identity.Name, @readonly = "readonly" }  })
    }
         <br /><br />
    @Html.LabelFor(model => model.Text, "Текст")
   
    <br />
    @Html.TextAreaFor(model => model.Text, new { @class = "ckeditor" })
    <br /><br />
    @Html.LabelFor(model => model.Date, "Дата")
    <br />
    @Html.EditorFor(model => model.Date)
    <br /><br />
    <input type="submit" value="Добавити" />
}