@{
    ViewBag.Title = "Редактировать";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model ProgerBlog.BLL.DTO.PostDTO


<h2>Пост № @Model.Id</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.LabelFor(m => m.Title, "Заголовок")
            <br />
            @Html.TextAreaFor(m => m.Title, 10, 20, null)           
        </p>
        <p>
            @Html.LabelFor(m => m.SubTitle, "Підзаголовок")
            <br />
            @Html.TextAreaFor(m => m.SubTitle, 10, 20, null)
        </p>
        <p>
            @Html.LabelFor(m => m.Category, "Категорія")
            <br />
            @Html.DropDownListFor(m=>m.Category, (SelectList)ViewBag.Categories)
        </p>
        <p>


            @if(User.IsInRole("admin"))
            {
            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @Value = User.Identity.Name } })
            }
            else
            {
            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @Value = User.Identity.Name, @readonly = "readonly" } })
            }


           
        </p>
        <p>
            @Html.LabelFor(m => m.Text, "Текст")
            <br />
            @Html.TextAreaFor(m => m.Text, 10,50,null)
        </p>

        <p>
            @Html.LabelFor(m => m.Date, "Дата")
            <br />
            @Html.EditorFor(m => m.Date)
        </p>

        <p><input type="submit" value="Відправити" /></p>
    </fieldset>
}