@model IEnumerable<ProgerBlog.BLL.DTO.PostDTO>
@{
    ViewBag.Title = "Каталог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    TABLE {
        width: 300px; /* Ширина таблицы */
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
    }

    TD, TH {
        padding: 3px; /* Поля вокруг содержимого таблицы */
        border: 1px solid black; /* Параметры рамки */
    }

    TH {
        background: #b0e0e6; /* Цвет фона */
    }
</style>
<h2>Каталог</h2>
<p>
    @Html.ActionLink("Додати запис", "Create")
</p>
<table>
    <tr>
        <th>Заголовок</th>
        <th>Підзаголовок</th>
        <th>Автор</th>
        <th>Текс</th>
        <th>Дата</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
        
    }
</table>
