@model IEnumerable<ProgerBlog.BLL.DTO.PostDTO>
@{
    ViewBag.Title = "Каталог";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style type="text/css">
    TABLE {
       
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
    }

    TD, TH {
        padding: 3px; /* Поля вокруг содержимого таблицы */
        border: 1px solid black; /* Параметры рамки */
    }

    TH {
        background: #b0e0e6; /* Цвет фона */
    }
</style>
<h2>Каталог</h2>
<p>
    @Html.ActionLink("Додати запис", "Create")
</p>
<div class="panel panel-primary">
    <table class="table table-striped">
        <tr>
            <div class="panel-heading">
                <th>Заголовок</th>
                <th>Підзаголовок</th>
                <th>Категорія</th>
                <th>Автор</th>
                <th>Дата</th>
                <th></th>
             </div>
</tr>
        @if (User.IsInRole("admin"))
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Редагувати", "Edit", new { id = item.Id })
                        @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                    </td>
                </tr>

            }
        }
        else
        {
            foreach (var item in Model)
            {
                if (item.Author == User.Identity.Name)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.Id })
                            @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>


    @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post))
    {
        <button type="button" class="btn " data-toggle="modal" data-target="#myModal">Додати категорію</button>

    <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        @Html.TextBox("newcategory", "")
                        <input type="submit" value="Додати" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>


                    </div>
                </div>

            </div>
        </div>
    }

